<%- include("header") -%>

    <body>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, vitae. Minus voluptas, voluptates et
            quaerat odit ut necessitatibus libero commodi earum ratione dolor similique praesentium, ad quibusdam at
            porro nam!
        </p>
    </body>

<%- include("footer") -%>